<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <profiles>
        <profile>
            <id>artifactory</id>

            <properties>
                <downloadSources>true</downloadSources>
                <downloadJavadocs>true</downloadJavadocs>
            </properties>

            <repositories>
                <repository>
                    <id>central</id>
                    <name>libs-release</name>
                    <url>http://artifactory.oci.oraclecorp.com/libs-release</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>snapshots</id>
                    <name>libs-snapshot</name>
                    <url>http://artifactory.oci.oraclecorp.com/libs-snapshot</url>
                    <snapshots />
                </repository>
                <repository>
                    <id>publicsdk</id>
                    <name>publicsdk</name>
                    <url>http://artifactory.aka.lgl.grungy.us/libs-release</url>
                    <snapshots />
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <name>plugins-release</name>
                    <url>http://artifactory.oci.oraclecorp.com/libs-release</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>snapshots</id>
                    <name>plugins-snapshot</name>
                    <url>http://artifactory.oci.oraclecorp.com/libs-snapshot</url>
                    <snapshots />
                </pluginRepository>
                <pluginRepository>
                    <id>publicsdk</id>
                    <name>publicsdk</name>
                    <url>http://artifactory.aka.lgl.grungy.us/libs-release</url>
                    <snapshots />
                </pluginRepository>
            </pluginRepositories>
            <proxies>
                <!-- proxy
                 | Specification for one proxy, to be used in connecting to the network.
                 |-->
                <!-- -->
                <proxy>
                    <active>true</active>
                    <protocol>http</protocol>
                    <host>www-proxy.us.oracle.com</host>
                    <port>80</port>
                    <nonProxyHosts>localhost</nonProxyHosts>
                </proxy>
                <proxy>
                    <active>true</active>
                    <protocol>https</protocol>
                    <host>www-proxy.us.oracle.com</host>
                    <port>80</port>
                    <nonProxyHosts>localhost</nonProxyHosts>
                </proxy>
            </proxies>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>
