:root {
	--cell-radius: 60px;
	--cell-font-size: 3em;
	--cell-width: 130px;
}

.neuron-frame {
	display: grid;
	justify-self: start;
	grid-template-columns: var(--cell-width) var(--cell-width) var(--cell-width) var(--cell-width) var(--cell-width) var(--cell-width) var(--cell-width) var(--cell-width);
	grid-template-rows: auto;
	justify-items: center;
	grid-gap: 3px;
	align-items: center;
	padding: 0px;
}

.neuron-input {
	display: grid;
	grid-template-columns: var(--cell-width);
	grid-template-rows: auto;
	justify-items: center;
	grid-gap: 3px;
	align-items: center;
}

.neuron-input-cell {
	width: calc(var(--cell-radius) * 2);
	height: calc(var(--cell-radius) * 2);
	display: flex;
	font-size: var(--cell-font-size);
	justify-content: center;
	align-items: center;
}

.neuron-cell-with-frame {
	border: 1px solid silver;
	border-radius: 10px;
}

.neuron-input-field {
	font-size: calc(var(--cell-font-size) / 4);
}

.neuron-cell {
	border: 4px solid gray;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

table .left-right {
	width: auto;
	text-align: right;
	white-space: nowrap;
}

table .content {
	width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 5px;
	width: 100%;
	border: 1px solid silver;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

select {
	font-size: calc(var(--cell-font-size) / 6);
}

input {
	font-size: calc(var(--cell-font-size) / 3.5);
	color: blue;
	width: calc(var(--cell-width) * 0.7);
	text-align: center;
	border: none;
}

button {
	border-radius: 5px;
	margin: 5px;
	box-shadow: 0px 0px 5px #666666;
}

knob-and-display:focus {
	outline: none;
}

.knob-css {
	--display-background-gradient-from: transparent;
	--display-background-gradient-to: transparent;
	--knob-radial-gradient-from: black;
	--knob-radial-gradient-to: silver;
	--index-radial-gradient-from: black;
	--index-radial-gradient-to: white;
	--display-outline-color: silver;
	--display-background-color: white;
	--display-ticks-color: darkgray;
	--needle-outline-color: black;
	--needle-fill-color: red;
	--tick-color: rgba(0, 0, 0, 0.9);
	--value-color: blue;
	--label-color: white;
	--value-nb-decimal: 2;
	--label-font: 'Courier New';
	--value-font: Arial;
}
