*.jpr
*.jws
*.class
*.dex
*.ap_
*.cdi_javac
.data/
*.url
*.jar
*.cache
*.log
*.log.csv
*.csv
*.ods
*.py
*.png
*.iml
gen/
classes/
/classes/*.properties
classes/*
doc/
I2C/src/misc
PI4J.email/email.properties
node_modules/
RaspberryPI.doc/
RasPISamples.2/
POVUtil.One/
pilogger/
email.properties
PI4J.TheProject/
.gradle*/
build/
gen/*
.idea/
**/rpi/
*.so
# gradle/
# gradlew

