*.jpr
*.jws
*.class
*.dex
*.ap_
*.cdi_javac
.data/
*.url
*.jar
*.cache
*.log
*.log.csv
*.csv
*.ods
*.o
# *.py
# *.png
*.iml
**/.classpath
**/.project
**/.settings
yarn.lock
gen/
classes/
/classes/*.properties
classes/*
**/.DS_Store
Library
*.min.js
*.min.js.map
doc/
I2C/src/misc
*/email.properties
node_modules/
bower_components/
RaspberryPI.doc/
RasPISamples.2/
POVUtil.One/
pilogger/
email.properties
PI4J.TheProject/
.gradle*/
build/
gen/*
.idea/
**/rpi/
*.so
# *.php
# gradle/
# gradlew
gradle-app.setting
*.zip
*.tgz
NMEA-multiplexer/libs
SerialRxTx/libs
C/SatelliteFinder
C/fork
C/tools
snap.jpg
NMEA-multiplexer/web/leaflet
NMEA-multiplexer/sample.data/
RESTTideEngine/*.xml
RESTRouting/out
RESTRouting/*.json
RESTNauticalAlmanac/out
ADC/out
Processing/**/*.jar
.gitignore
oliv-components/minified/
RESTNavServer/launchers/web/20*
NMEA-mux-WebUI/**/web/20*
**/target
**/.ipynb_checkpoints
**/logged
**/package-lock.json
**/__pycache__/
polo-shirt/generated/
