*.jpr
*.jws
*.class
*.dex
*.ap_
*.cdi_javac
.data/
*.url
*.jar
*.cache
*.log
*.log.csv
*.csv
*.ods
*.o
# *.py
# *.png
*.iml
yarn.lock
gen/
classes/
/classes/*.properties
classes/*
Library
*.min.js
*.min.js.map
doc/
I2C/src/misc
*/email.properties
node_modules/
bower_components/
RaspberryPI.doc/
RasPISamples.2/
POVUtil.One/
pilogger/
email.properties
PI4J.TheProject/
.gradle*/
build/
gen/*
.idea/
**/rpi/
*.so
# *.php
# gradle/
# gradlew
gradle-app.setting
*.zip
NMEA.multiplexer/libs
SerialRxTx/libs
C/SatelliteFinder
C/fork
C/tools
snap.jpg
NMEA.multiplexer/web/leaflet
NMEA.multiplexer/sample.data/
RESTTideEngine/*.xml
RESTRouting/out
RESTRouting/*.json
RESTNauticalAlmanac/out
Processing/**/*.jar
.gitignore
oliv-components/minified/
