/* Non default colors */
.worldmapdisplay {
    --canvasBackground: white;
    --defaultPlotPointColor: red;
    --travelColor: gray;
    --arrowBodyColor: rgba(255, 255, 255, 0.5);
    --globeBackground: gray;
    --globeGradientFrom: navy;
    --globeGradientTo: blue;
    --gridColor: rgba(0, 0, 0, 0.3);
    --tropicColor: DarkRed;
    --chartColor: rgba(0, 0, 0, 0.8);
    --chartLineWidth: 2;
    --userPosColor: black;
    --sunColor: yellow;
    --sunArrowColor: rgba(255, 255, 0, 0.5);
    --moonColor: gray;
    --moonArrowColor: rgba(255, 255, 255, 0.5);
    --ariesColor: LightGray;
    --venusColor: orange;
    --marsColor: red;
    --jupiterColor: LightPink;
    --saturnColor: LightYellow;
    --starsColor: white;
    --nightColor: rgba(192, 192, 192, 0.3);
    --displayPositionColor: black;
}
