body {
	color: blue;
	font-weight: normal;
	font-size: 10pt;
	font-family: Verdana, Helvetica, Geneva;
	background-position: top left;
	background-repeat: repeat
}

h1 {
	color: silver;
	font-style: italic;
	font-size: 26pt;
	font-family: Verdana, Arial, Helvetica, Geneva;
	padding-left: 5pt
}

h2 {
	color: silver;
	font-size: 12pt;
	font-family: Verdana, Arial, Helvetica, Geneva
}

h3 {
	color: silver;
	font-style: italic;
	font-weight: bold;
	font-size: 11pt;
	font-family: Verdana, Arial, Helvetica, Geneva;
}

h4 {
	color: silver;
	font-style: italic;
	font-weight: bold;
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, Geneva;
}

h5 {
	color: silver;
	font-style: normal;
	font-weight: bold;
	font-size: 10pt;
	font-family: Arial, Helvetica, Geneva;
}

h6 {
	font-style: italic;
	font-weight: normal;
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, Geneva;
}

li {
	font-weight: normal;
	font-size: 10pt;
	font-family: Verdana, Helvetica, Geneva;
}

dt {
	font-size: 10pt;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, Geneva;
}

dd {
	font-size: 10pt;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, Geneva;
}

p {
	font-size: 10pt;
	font-weight: normal;
	font-family: Verdana, Helvetica, Geneva;
}

td {
	font-size: 10pt;
	font-family: Arial, Helvetica, Geneva;
}

small {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, Geneva;
}

blockquote {
	font-style: italic;
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, Geneva;
}

em {
	font-size: 10pt;
	font-style: italic;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, Geneva
}

pre {
	font-size: 9pt;
	font-family: "Source Code Pro", "Courier New", Helvetica, Geneva;
	background-color: #d3d3d3;
}

address {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, Geneva;
}

.red {
	color: red;
}

a:link {
	color: #0000a0
}

a:active {
	color: #8080ff
}

a:visited {
	color: #8080ff
}
