#
# See http://www.arclab.com/products/amlc/list-of-smtp-and-pop3-servers-mailserver-list.html
#
pi.yahoo.mail.protocol=pop3
pi.yahoo.incoming.server=pop.mail.yahoo.com
pi.yahoo.outgoing.server=smtp.mail.yahoo.com
pi.yahoo.mail.smtpauth=true
pi.yahoo.outgoing.server.port=465
pi.yahoo.incoming.server.port=995
pi.yahoo.mail.username=olivier.lediouris
pi.yahoo.mail.password=xxxxxx
pi.yahoo.mail.replyto=olivier@lediouris.net
#
pi.google.mail.protocol=pop3
pi.google.incoming.server=pop.gmail.com
pi.google.outgoing.server=smtp.gmail.com
pi.google.mail.smtpauth=true
pi.google.outgoing.server.port=465
pi.google.incoming.server.port=995
pi.google.mail.username=olivier.lediouris@gmail.com
pi.google.mail.password=xxxxxx
pi.google.mail.replyto=olivier.lediouris@gmail.com
#
pi.oracle.mail.protocol=imap
pi.oracle.incoming.server=stbeehive.oracle.com
pi.oracle.outgoing.server=stbeehive.oracle.com
pi.oracle.mail.smtpauth=true
pi.oracle.outgoing.server.port=465
pi.oracle.incoming.server.port=993
pi.oracle.mail.username=olivier.lediouris@oracle.com
pi.oracle.mail.password=xxxxxx
pi.oracle.mail.replyto=olivier.lediouris@oracle.com
#
