:root {
	--d-zone-height: 350px;
}

body {
  background-color: whitesmoke;
}

/* #drop-div {
  width: 350px;
  min-height: var(--d-zone-height);
  height: 1500px;
  padding: 10px;
  margin: auto;
} */

.smooth {
  height: 0;
  max-height: 0;
  margin: auto;
  /*transition: transform 0.5s, max-height 1s, height 1s;*/
  transition: all 0.5s ease;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  overflow: hidden;
}

.visible-div {
  opacity: 1;
  width: auto;
  height: auto;
  max-height: 1600px;
  transform: scaleY(1);
  margin-top: 5px;
}

input[type=text], input[type=number], select {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
  margin: auto;
}

.top-grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10px;
  margin: auto;
}

/* .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
} */

.draggable-container {
    border: 1px solid blue;
    border-radius: 5px;
    margin: 3px;
}

.draggable-content {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    width: 340px;
    height: 60px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.drop-container-content {
    position: relative;
    width: 350px;
    min-height: var(--d-zone-height);
    height: 1500px;
    padding: 10px;
    margin: auto;
}

.draggable-channel {
  /* background-color: rgba(255, 0, 0, 0.5); */
  background-image: radial-gradient(red, silver);
}

.draggable-forwarder {
  /* background-color: rgba(0, 255, 0, 0.5); */
  background-image: radial-gradient(green, silver);
}

.draggable-computer {
  /* background-color: silver; */
  background-image: radial-gradient(cyan, silver);
}

.dialog-header {
    /* width: 110%; */
    height: 40px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    background-color: silver;
    /* margin-left: -18px;
    margin-top: -17px; */
    vertical-align: middle;
}

.dialog-header-close {
    margin-left: 10px;
    margin-right: 15px;
    float: right;
}
.dialog-header-close:hover {
  color: cyan;
  text-shadow: 6px 6px 8px black, 0 0 25px white, 0 0 10px orange;
  cursor: pointer;
}

.close-icon {
  /*position: absolute;*/
  text-align: right;
  right: 0;
  top: 0;
  margin-top: 2px;
  margin-right: 7px;
  cursor: pointer;
  display: none;
}

.close-icon:hover {
  color: cyan;
  text-shadow: 2px 2px 4px black, 0 0 25px rgb(124, 26, 26), 0 0 10px navy;
}

.edit-icon {
  cursor: pointer;
  display: none;
}
.edit-icon:hover {
  text-shadow: 6px 6px 8px black, 0 0 25px white, 0 0 10px orange;
  cursor: pointer;
}

.channel-description {
  margin-left: 10px;
  font-style: italic;
}
.forwarder-description {
  margin-left: 10px;
  font-style: italic;
}
.computer-description {
  margin-left: 10px;
  font-style: italic;
}

.editable-zone {
  text-align: left; 
  max-height: 300px; 
  overflow-y: scroll;
  font-size: 16px;
}

.side-div {
  width: 340px;
  /* text-align: center; */
}

.vertical-scrollable-zone {
    background-color: aliceblue;
    vertical-align: top;
    height: auto;
    max-height: var(--d-zone-height);
    overflow-y: auto;

    margin-left: 5px;
    margin-right: 5px;

    border: 2px solid navy;
    border-radius: 5px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(241, 241, 241, 0.5);
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  /* font-size: 17px; */
  text-shadow: 1px 1px 2px rgba(0, 255, 255, 0.5), 0 0 25px white, 0 0 5px silver;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.tab .mess {
  padding: 14px 16px;
  transition: 0.3s;
  /* font-size: 17px; */
  text-shadow: 1px 1px 2px rgba(0, 255, 255, 0.5), 0 0 25px white, 0 0 5px orange;
  color: black;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.message {
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
  font-weight: bold;
  color: navy;
}

.smaller {
  font-size: 14px;
}

pre {
  font-weight: bold;
}

label {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  font-weight: bold;
}

input {
  margin-left: 10px;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
}

button > span {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
