:root {
	--d-zone-height: 350px;
}

body {
  background-color: whitesmoke;
}

#drop-div {
  width: 350px;
  min-height: var(--d-zone-height);
  height: 1500px;
  padding: 10px;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 10px;
  margin: auto;
}
/* .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
} */

.draggable-container {
    border: 1px solid blue;
    border-radius: 5px;
    margin: 3px;
}

.draggable-content {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    width: 340px;
    height: 60px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.drop-container-content {
    position: relative;
}

.draggable-channel {
  background-color: rgba(255, 0, 0, 0.5);
}

.dialog-header {
    width: 110%;
    height: 40px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    background-color: silver;
    margin-left: -18px;
    margin-top: -17px;
    vertical-align: middle;

}

.dialog-header-close {
    margin-left: 10px;
    margin-right: 15px;
    float: right;
}
.dialog-header-close:hover {
  color: cyan;
  text-shadow: 6px 6px 8px black, 0 0 25px white, 0 0 10px orange;
  cursor: pointer;
}

.close-icon {
  /*position: absolute;*/
  text-align: right;
  right: 0;
  top: 0;
  margin-top: 2px;
  margin-right: 7px;
  cursor: pointer;
  display: none;
}

.close-icon:hover {
  color: cyan;
  text-shadow: 2px 2px 4px black, 0 0 25px rgb(124, 26, 26), 0 0 10px navy;
}

.edit-icon {
  cursor: pointer;
  display: none;
}
.edit-icon:hover {
  text-shadow: 6px 6px 8px black, 0 0 25px white, 0 0 10px orange;
  cursor: pointer;
}

.editable-zone {
  text-align: left; 
  max-height: 300px; 
  overflow-y: scroll;
  font-size: 16px;
}

.side-div {
  width: 340px;
  /* text-align: center; */
}

.vertical-scrollable-zone {
    background-color: aliceblue;
    vertical-align: top;
    height: auto;
    max-height: var(--d-zone-height);
    overflow-y: auto;

    border: 2px solid navy;
    border-radius: 5px;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: bold;
  color: navy;
}

label {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  font-weight: bold;
}

input {
  margin-left: 10px;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
}

button > span {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
