body
{
  background-color: black;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}
.display-scheme
{
  color: black;
}

.dataTitle {
  text-align: center;
}
.dataValue {
  text-align: center;
  font-size: 80px;
  color: yellow;
  padding:5px; 
  border-radius:5px; 
  border:1px solid #CCC; 
  margin-top:10px;
}
