body {
  color : blue;
  font-weight: normal;
  font-size: 10pt;
  font-family: "Helvetica Neue", "Lato", Verdana, Helvetica, Geneva, sans-serif;
  background-position: top left;
  background-repeat: repeat;
}

h1 {
  color: silver;
  font-style: italic;
  font-size: 26pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
  padding-left: 5pt;
  padding-bottom: 1pt;
  padding-top: 1pt;
}
h2 {
  color: silver;
  font-size: 12pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
  padding-left: 5pt;
  margin-bottom: 1pt;
  margin-top: 1pt;
}
h3 {
  color: silver;
  font-style: italic;
  font-weight: bold;
  font-size: 11pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
  padding-left: 5pt;
  margin-bottom: 1pt;
  margin-top: 1pt;
}
h4 {
  color: silver;
  font-style: italic;
  font-weight: bold;
  font-size: 10pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
  padding-left: 5pt;
  margin-bottom: 1pt;
  margin-top: 1pt;
}
h5 {
  color: silver;
  font-style: normal;
  font-weight: bold;
  font-size: 10pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
  padding-left: 5pt;
  margin-bottom: 1pt;
  margin-top: 1pt;
}
h6 {
  font-style: italic;
  font-weight: normal;
  font-size: 10pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
  padding-left: 5pt;
  margin-bottom: 1pt;
  margin-top: 1pt;
}
li {
  font-weight: normal;
  font-size: 10pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
}
dt {
  font-size: 10pt;
  font-weight: bold;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
}
dd {
  font-size: 10pt;
  font-weight: normal;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
}
p {
  font-size: 10pt;
  font-weight: normal;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
}
td {
  font-size: 10pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
}
small {
  font-size: 8pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
}
blockquote {
  font-style: italic;
  font-size: 10pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
}
em {
  font-size: 10pt;
  font-style: italic;
  font-weight: bold;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
}
pre {
  margin-top: 0px;
  font-size: 9pt;
  font-family: "Source Code Pro", "Courier New", Helvetica, Geneva;
/*background-color: #d3d3d3;*/
}
address {
  font-size: 8pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
}
img {
  vertical-align: middle;
}
.red {
  color:red;
}

a:link { color : #0000A0}
a:active { color: #8080FF}
a:visited { color : #8080FF}

/* Widget specific */
.thermometer-day {
  --bg-color: white;
  --digit-color: DarkGrey;
  --with-gradient: true;
  --display-background-gradient-from: black;
  --display-background-gradient-to: LightGrey;
  --with-display-shadow: true;
  --shadow-color: rgba(0, 0, 0, 0.75);
  --major-tick-color: DarkGrey;
  --minor-tick-color: DarkGrey;
  --value-color: LightRed;
  --value-outline-color: black;
  --value-nb-decimal: 2;
  --font: 'Arial'; /* 'Source Code Pro' */
}

.thermometer-night {
  --bg-color: black;
  --digit-color: red;
  --with-gradient: true;
  --display-background-gradient-from: black;
  --display-background-gradient-to: LightGrey;
  --with-display-shadow: true;
  --shadow-color: rgba(0, 0, 0, 0.75);
  --major-tick-color: DarkGrey;
  --minor-tick-color: DarkGrey;
  --value-color: LightRed;
  --value-outline-color: black;
  --value-nb-decimal: 2;
  --font: 'Arial'; /* 'Source Code Pro' */
}

.analogdisplay-day {
	--bg-color: rgba(0, 0, 0, 0);
	--digit-color: black;
	--with-gradient: true;
	--display-background-gradient-from: LightGrey;
	--display-background-gradient-to: white; /* used if --withGradient: false */
	--display-line-color: rgba(255, 255, 255, 0.5);
	--label-fill-color: rgba(255, 255, 255, 0.5);
	--with-display-shadow: true;
	--shadow-color: rgba(0, 0, 0, 0.75);
	--outline-color: DarkGrey;
	--major-tick-color: black;
	--minor-tick-color: black;
	--value-color: grey;
	--value-outline-color: black;
	--value-nb-decimal: 1;
	--hand-color: red;
	--hand-outline-color: black;
	--with-hand-shadow: true;
	--knob-color: DarkGrey;
	--knob-outline-color: black;
	--font: Arial;
}

.analogdisplay-night {
	--bg-color: rgba(0, 0, 0, 0);
	--digit-color: cyan;
	--with-gradient: true;
	--display-background-gradient-from: DarkGrey; /* used if --withGradient: true */
	--display-background-gradient-to: black;
	--display-line-color: rgba(255, 255, 255, 0.5);
	--label-fill-color: rgba(255, 255, 255, 0.5);
	--with-display-shadow: true;
	--shadow-color: black;
	--outline-color: DarkGrey;
	--major-tick-color: red;
	--minor-tick-color: red;
	--value-color: red;
	--value-outline-color: black;
	--value-nb-decimal: 1;
	--hand-color: rgba(255, 0, 0, 0.4);
	--hand-outline-color: red;
	--with-hand-shadow: true;
	--knob-color: #8ed6ff;
	--knob-outline-color: blue;
	--font: Arial;
}

/* Monochrome, cyan */
.analogdisplay-monochrome-cyan {
	--bg-color: rgba(0, 0, 0, 0);
	--digit-color: cyan;
	--with-gradient: false;
	--display-background-gradient-from: LightGrey; /* used if --withGradient: true */
	--display-background-gradient-to: rgba(0, 0, 0, 0);
	--display-line-color: rgba(0, 255, 255, 0.25);
	--label-fill-color: rgba(0, 0, 0, 0);
	--with-display-shadow: false;
	--shadow-color: rgba(0, 0, 0, 0.75);
	--outline-color: cyan;
	--major-tick-color: cyan;
	--minor-tick-color: cyan;
	--value-color: cyan;
	--value-outline-color: cyan;
	--value-nb-decimal: 1;
	--hand-color: rgba(0, 0, 0, 0.0);
	--hand-outline-color: cyan;
	--with-hand-shadow: false;
	--knob-color: cyan;
	--knob-outline-color: cyan;
	--font: Arial;
}

.analogdisplay-monochrome-orange {
	--bg-color: rgba(0, 0, 0, 0);
	--digit-color: orange;
	--with-gradient: false;
	--display-background-gradient-from: undefined; /* used if --withGradient: true */
	--display-background-gradient-to: black;
	--display-line-color: rgba(255, 165, 0, 0.5); /* orange */
	--label-fill-color: rgba(255, 255, 255, 0);
	--with-display-shadow: false;
	--shadow-color: black;
	--outline-color: orange;
	--major-tick-color: orange;
	--minor-tick-color: orange;
	--value-color: orange;
	--value-outline-color: orange;
	--value-nb-decimal: 1;
	--hand-color: rgba(0, 0, 0, 0);
	--hand-outline-color: orange;
	--with-hand-shadow: false;
	--knob-color: orange;
	--knob-outline-color: orange;
	--index-color: orange; /* Compass rose index */
	--outlined-port-starboard: true;
	--font: Arial;
}

/* Day, flat gray */
.analogdisplay-flat-gray {
	--bg-color: rgba(255, 255, 255, 0.0);
	--digit-color: grey;
	--with-gradient: true;
	--display-background-gradient-from: LightGrey;
	--display-background-gradient-to: white; /* used if --withGradient: false */
	--display-line-color: rgba(255, 255, 255, 0.5);
	--label-fill-color: rgba(255, 255, 255, 0.5);
	--with-display-shadow: false;
	--shadow-color: rgba(0, 0, 0, 0.75);
	--outline-color: DarkGrey;
	--major-tick-color: grey;
	--minor-tick-color: grey;
	--value-color: grey;
	--value-outline-color: black;
	--value-nb-decimal: 1;
	--hand-color: red;
	--hand-outline-color: grey;
	--with-hand-shadow: true;
	--knob-color: DarkGrey;
	--knob-outline-color: black;
	--font: Arial;
}
