<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Widget Samples</title>
	<link rel="stylesheet" href="../../css/stylesheet.css" type="text/css"/>
</head>
<body>
	<h1>Widgets Usage Samples</h1>
	<p>
		This page intends to illustrate the way to use and consume the various widgets available in the RESTNavServer project.
	</p>
	<p>
		Select your widget on the left pane, and use the <code style="color: black;">view frame source</code> capabilities of your browser to see how this is done.
	</p>
</body>
</html>