html {
	height: 100%;
}

body {
  background-color: black;
  color: orange;
  font-family: Arial, Helvetica, sans-serif;
	/*background-image: linear-gradient(to bottom right, #4d4d4d, black);*/
	background: radial-gradient(at top, DarkGrey -8%, black 55%);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.display-scheme {
  color: black;
}

.dataTitle {
  text-align: center;
}
.dataValue {
  text-align: center;
  font-size: 80px;
  color: yellow;
  padding:5px; 
  border-radius:5px; 
  border:1px solid #CCC; 
  margin-top:10px;
}

/* Night & orange */
.analogdisplay {
	--bg-color: rgba(0, 0, 0, 0);
	--digit-color: orange;
	--with-gradient: false;
	--display-background-gradient-from: undefined; /* used if --withGradient: true */
	--display-background-gradient-to: black;
	--display-line-color: rgba(255, 165, 0, 0.5); /* orange */
	--label-fill-color: rgba(255, 255, 255, 0);
	--with-display-shadow: false;
	--shadow-color: black;
	--outline-color: orange;
	--major-tick-color: orange;
	--minor-tick-color: orange;
	--value-color: orange;
	--value-outline-color: orange;
	--value-nb-decimal: 1;
	--hand-color: rgba(0, 0, 0, 0);
	--hand-outline-color: orange;
	--with-hand-shadow: false;
	--knob-color: orange;
	--knob-outline-color: orange;
	--index-color: orange; /* Compass rose index */
	--outlined-port-starboard: true;
	--font: Arial;
}

.numericdisplay {
	--bg-color: black;
	--with-gradient: false;
	--display-background-gradient-from: undefined;
	--display-background-gradient-to: black;
	--value-color: orange;
	--value-outline-color: orange;
	--font: Arial;
}
