.graphdisplay {
    --tooltip-color: rgba(250, 250, 210, .7);
    --tooltip-text-color: black;
    --with-bg-gradient: true;
    --bg-gradient-from: rgba(0, 0, 0, 0);
    --bg-gradient-to: cyan;
    --bg-color: LightGray; /* used if --with-bg-gradient: false */
    --horizontal-grid-color: gray;
    --horizontal-grid-text-color: black;
    --vertical-grid-color: gray;
    --vertical-grid-text-color: black;
    --raw-data-line-color: green;
    --fill-raw-data: true;
    --raw-data-fill-color: rgba(0, 255, 0, 0.35); /* used if --fill-raw-data: true */
    --smooth-data-line-color: red;
    --fill-smooth-data: true;
    --smooth-data-fill-color: rgba(255, 0, 0, 0.35); /* used if --fill-smooth-data: true */
    --clicked-index-color: orange;
    --font: Arial;
}
