<div id="calendar-id">

	<script>
		const WEEK_DAYS = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"];
		function updateCalendar() {
			let now = new Date();
			let d = now.getDate();
			let m = now.getMonth();
			let y = now.getFullYear();
			let date = new Date(y, m, d);
			document.getElementById('calendar-01').value = d + '-' + (m + 1) + '-' + y + '-' + WEEK_DAYS[date.getDay()];
			document.getElementById('calendar-01').repaint();
		}
	</script>

	<div class="black-frame">
		<calendar-display id="calendar-01"
											class="calendar-01"
											title="Day-Month-Year"
											width="150"
											height="180"
											value="28-08-2018-tuesday"></calendar-display>
	</div>

</div>

