<div id="split-flap-id">

	<script>
		function setSplitFlapValue(id, value) {
			let elem = document.getElementById(id);
			// Character by character, flap-flap-flap
			let original = elem.paddedValue;
			let newPaddedValue = elem.getPaddedValue(elem.cleanString(value));
			//	console.log("Old [%s], new [%s]", original, newPaddedValue);
			//	assert(old.length === new.length);

			// Flap-flap-flap
			function updateFlap(idx) { // THIS is balaise. Function in a function.
				if (original.charAt(idx).toUpperCase() !== newPaddedValue.charAt(idx).toUpperCase()) {
					setTimeout(() => {
						let next = elem.getNextChar(original.charAt(idx));
//					console.log("Updating %s with %s", original, next);
						elem.setCharAt(idx, next);
						original = elem.paddedValue;
						updateFlap(idx); // Recurse
					}, 50);
				}
			};

			for (let idx=0; idx<original.length; idx++) {
				updateFlap(idx);
			}
//		elem.value = value;
//		elem.repaint();
		}
	</script>

	<table>
		<tr>
			<td valign="top">
				<div class="black-frame centered">
					<split-flap-display id="split-flap-display-01"
															nb-char="24"
															font-size="60"
															value="next take off at 14:00"></split-flap-display>
				</div>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<div class="black-frame centered">
					<split-flap-display id="split-flap-display-02"
															class="split-flap-02"
															nb-char="35"
															font-size="40"
															justified="RIGHT"
															value="Display some text for me"></split-flap-display>
					<br/>
					Enter text, and tab out...<input type="text" size="40" value="Display some text for me" onblur="setSplitFlapValue('split-flap-display-02', this.value);">
				</div>
			</td>
		</tr>
	</table>

</div>

