<div id="world-map-id">

	<script>
		function setTransparency(wcId, cb) {
			document.getElementById(wcId).transparentGlobe = (cb.checked ? 'true' : 'false');
			document.getElementById(wcId).repaint();
		}

		function setSun(wcId, cb) {
			document.getElementById(wcId).withSun = (cb.checked ? 'true' : 'false');
			document.getElementById(wcId).repaint();
		}

		function setGrid(wcId, cb) {
			document.getElementById(wcId).withGrid = (cb.checked ? 'true' : 'false');
			document.getElementById(wcId).repaint();
		}

		function setMoon(wcId, cb) {
			document.getElementById(wcId).withMoon = (cb.checked ? 'true' : 'false');
			document.getElementById(wcId).repaint();
		}

		function setSunlight(wcId, cb) {
			document.getElementById(wcId).withSunlight = (cb.checked ? 'true' : 'false');
			document.getElementById(wcId).repaint();
		}

		function setMoonlight(wcId, cb) {
			document.getElementById(wcId).withMoonlight = (cb.checked ? 'true' : 'false');
			document.getElementById(wcId).repaint();
		}

		function setWanderingBodies(wcId, cb) {
			document.getElementById(wcId).withWanderingBodies = (cb.checked ? 'true' : 'false');
			document.getElementById(wcId).repaint();
		}

		function setStars(wcId, cb) {
			document.getElementById(wcId).withStars = (cb.checked ? 'true' : 'false');
			document.getElementById(wcId).repaint();
		}

		function setTropics(wcId, cb) {
			document.getElementById(wcId).withTropics = (cb.checked ? 'true' : 'false');
			document.getElementById(wcId).repaint();
		}

		let spinAnimationInterval;
		let userLng;
		function spin(wcId, inc) {
			if (spinAnimationInterval !== undefined) {
				window.clearInterval(spinAnimationInterval);
				spinAnimationInterval = undefined;
			} else {
				if (userLng === undefined) {
					userLng = -122.507;
				}
				document.getElementById(wcId).positionLabel = "";
				spinAnimationInterval = window.setInterval(function() {
					document.getElementById(wcId).setUserPosition({ latitude: 37.7489, longitude: userLng});
					document.getElementById(wcId).repaint();
					userLng += inc;
					if (userLng > 180) {
						userLng -= 360;
					}
					if (userLng < -180) {
						userLng += 360;
					}
				}, 50);
			}
		}

		function setProjection(id, radio) {
			document.getElementById(id).projection = radio.value;
			document.getElementById(id).repaint();
		}

		// Example of callback on WorldMap
		function callBefore(id) {
			document.getElementById(id).setDoBefore(function(worldMap, context) {
				context.fillStyle = 'pink';
				let fontBackup = context.font;
				context.font = "bold 48px Verdana";
				context.fillText('BEFORE', 10, 24 + (worldMap.height / 2));
				context.font = fontBackup;
			});
			document.getElementById(id).repaint();
		}

		// Depends on the user position... Would not turn with the globe.
		const gpsSatelliteData = {
			"1":{
				"svID":1,
				"elevation":26,
				"azimuth":316,
				"snr":0
			},
			"3":{
				"svID":3,
				"elevation":4,
				"azimuth":284,
				"snr":0
			},
			"8":{
				"svID":8,
				"elevation":27,
				"azimuth":251,
				"snr":6
			},
			"10":{
				"svID":10,
				"elevation":43,
				"azimuth":75,
				"snr":0
			},
			"11":{
				"svID":11,
				"elevation":32,
				"azimuth":303,
				"snr":0
			},
			"14":{
				"svID":14,
				"elevation":84,
				"azimuth":250,
				"snr":0
			},
			"18":{
				"svID":18,
				"elevation":16,
				"azimuth":92,
				"snr":0
			},
			"22":{
				"svID":22,
				"elevation":22,
				"azimuth":291,
				"snr":0
			},
			"24":{
				"svID":24,
				"elevation":1,
				"azimuth":33,
				"snr":0
			},
			"27":{
				"svID":27,
				"elevation":16,
				"azimuth":212,
				"snr":6
			},
			"31":{
				"svID":31,
				"elevation":31,
				"azimuth":157,
				"snr":0
			},
			"32":{
				"svID":32,
				"elevation":69,
				"azimuth":37,
				"snr":0
			}
		};

		function plotSatellite(context, worldMap, userPos, satColor, name, satellite) {
			let sat = worldMap.getPanelPoint(satellite.lat, satellite.lng);
			let thisPointIsBehind = worldMap.isBehind(worldMap.toRadians(satellite.lat), worldMap.toRadians(satellite.lng - worldMap.globeViewLngOffset));
			if (!thisPointIsBehind || worldMap.transparentGlobe) {
				// Draw Satellite
				worldMap.plot(context, sat, satColor);
				context.fillStyle = satColor;
				context.fillText(name, Math.round(sat.x) + 3, Math.round(sat.y) - 3);
				// Arrow, to the satellite
				context.setLineDash([2]);
				context.strokeStyle = satColor;
				context.beginPath();
				context.moveTo(userPos.x, userPos.y);
				context.lineTo(sat.x, sat.y);
				context.stroke();
				context.closePath();
				context.setLineDash([0]); // Reset
				context.strokeStyle = satColor;
				let deltaX = sat.x - userPos.x;
				let deltaY = sat.y - userPos.y;
				context.beginPath();
				context.moveTo(sat.x, sat.y);
				context.lineTo(sat.x + deltaX, sat.y + deltaY);
				context.stroke();
				context.closePath();
				worldMap.fillCircle(context, {x: sat.x + deltaX, y: sat.y + deltaY}, 6, satColor);
			}
		}

		function getSNRColor(snr) {
			var c = 'lightGray';
			if (snr !== undefined && snr !== null) {
				if (snr > 0) {
					c = 'red';
				}
				if (snr > 10) {
					c = 'orange';
				}
				if (snr > 20) {
					c = 'yellow';
				}
				if (snr > 30) {
					c = 'lightGreen';
				}
				if (snr > 40) {
					c = 'green';
				}
			}
			return c;
		}

		// Example of callback on WorldMap
		function callAfter(id) {
			document.getElementById(id).setDoAfter(function(worldMap, context) {
				if (Object.keys(worldMap.userPosition).length > 0) {
					let userPos = worldMap.getPanelPoint(worldMap.userPosition.latitude, worldMap.userPosition.longitude);
					/*
					 * Display 4 geostationary satellites. Data provided by the user, below.
					 */
					const sats = [
						{name: "I-4 F1 Asia-Pacific", lng: 143.5},
						{name: "I-4 F2 EMEA", lng: 63.0},
						{name: "I-4 F3 Americas", lng: -97.6},
						{name: "Alphasat", lng: 24.9}];
					let satColor = 'cyan';
					sats.forEach(gs => {
						plotSatellite(context, worldMap, userPos, satColor, gs.name, { lat: 0, lng: gs.lng });
					})

					// GPS Satellites in view
					for (var sat in gpsSatelliteData) {
						let satellite = gpsSatelliteData[sat];
						let satellitePosition = worldMap.deadReckoningRadians({
							lat: worldMap.toRadians(worldMap.userPosition.latitude),
							lng: worldMap.toRadians(worldMap.userPosition.longitude)
						}, (90 - satellite.elevation) * 60, satellite.azimuth);
						plotSatellite(context, worldMap, userPos, getSNRColor(satellite.snr), sat, {
							lat: worldMap.toDegrees(satellitePosition.lat),
							lng: worldMap.toDegrees(satellitePosition.lng)
						});
					}
				}
			});
			document.getElementById(id).repaint();
		}

	</script>

	<table>
		<tr>
			<td valign="top">
				<div class="black-frame centered">
					<world-map id="world-map-01"
										 class="worldmap-display"
										 title="World Map"
										 width="700"
										 height="500"></world-map>
				</div>
				<div class="black-frame centered">
					<button onclick="simulateAstroData('world-map-01');"
									title="Set Astro Data"
									style="margin-top: 3px;">Pos to SF</button>
					<input type="checkbox" onchange="setTransparency('world-map-01', this);"/>Transparent
					<input type="checkbox" onchange="setGrid('world-map-01', this);" checked/>Grid
					<input type="checkbox" onchange="setSun('world-map-01', this);" checked/>Sun
					<input type="checkbox" onchange="setMoon('world-map-01', this);" checked/>Moon
					<input type="checkbox" onchange="setSunlight('world-map-01', this);"/>Sunlight
					<input type="checkbox" onchange="setMoonlight('world-map-01', this);"/>Moonlight
					<input type="checkbox" onchange="setWanderingBodies('world-map-01', this);"/>Wandering bodies
					<input type="checkbox" onchange="setStars('world-map-01', this);"/>Stars
					<input type="checkbox" onchange="setTropics('world-map-01', this);"/>Tropics
					<br/>
					Spin <button onclick="spin('world-map-01', 1);">Clockwise</button> <button onclick="spin('world-map-01', -1);">Counter Clockwise</button>
					<br/>
					<input type="radio" name="proj-01" value="GLOBE" onchange="setProjection('world-map-01', this);" checked>Globe
					<input type="radio" name="proj-01" value="MERCATOR" onchange="setProjection('world-map-01', this);">Mercator
					<input type="radio" name="proj-01" value="ANAXIMANDRE" onchange="setProjection('world-map-01', this);">Square
					<hr/>
					Callback samples: <button onclick="callBefore('world-map-01')">Before</button>&nbsp;&nbsp;<button onclick="callAfter('world-map-01')">After</button>
				</div>
			</td>
			<td valign="top">
				<div class="black-frame centered">
					<world-map id="world-map-02"
										 class="worldmap-display-02"
										 title="World Map"
										 width="700"
										 height="500"></world-map>
				</div>
				<div class="black-frame centered">
					<button onclick="simulateAstroData('world-map-02');"
									title="Set Astro Data"
									style="margin-top: 3px;">Pos to SF</button>
					<input type="checkbox" onchange="setTransparency('world-map-02', this);"/>Transparent
					<input type="checkbox" onchange="setGrid('world-map-02', this);" checked/>Grid
					<input type="checkbox" onchange="setSun('world-map-02', this);" checked/>Sun
					<input type="checkbox" onchange="setMoon('world-map-02', this);" checked/>Moon
					<input type="checkbox" onchange="setSunlight('world-map-02', this);"/>Sunlight
					<input type="checkbox" onchange="setMoonlight('world-map-02', this);"/>Moonlight
					<input type="checkbox" onchange="setWanderingBodies('world-map-02', this);"/>Wandering bodies
					<input type="checkbox" onchange="setStars('world-map-02', this);"/>Stars
					<input type="checkbox" onchange="setTropics('world-map-02', this);"/>Tropics
					<br/>
					Spin <button onclick="spin('world-map-02', 1);">Clockwise</button> <button onclick="spin('world-map-02', -1);">Counter Clockwise</button>
					<br/>
					<input type="radio" name="proj-02" value="GLOBE" onchange="setProjection('world-map-02', this);" checked>Globe
					<input type="radio" name="proj-02" value="MERCATOR" onchange="setProjection('world-map-02', this);">Mercator
					<input type="radio" name="proj-02" value="ANAXIMANDRE" onchange="setProjection('world-map-02', this);">Square
				</div>
			</td>
		</tr>
	</table>
</div>

