body 
{ 
  color : blue; 
  font-weight: normal; 
  font-size: 10pt; 
  font-family: Verdana, Helvetica, Geneva, Swiss, SunSans-Regular; 
  background-position: top left; 
  background-repeat: repeat 
}
h1 
{ 
  color: silver; 
  font-style: italic; 
  font-size: 26pt; 
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
  padding-left: 5pt 
}
h2 
{ 
  color: silver; 
  font-size: 12pt; 
  font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular 
}
h3 
{ 
  font-style: italic; 
  font-weight: bold; 
  font-size: 11pt; 
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
}
h4 
{ 
  font-style: italic; 
  font-weight: bold; 
  font-size: 10pt; 
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
}
h5 
{ 
  font-style: normal; 
  font-weight: bold; 
  font-size: 10pt; 
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
}
h6 
{ 
  font-style: italic; 
  font-weight: normal; 
  font-size: 10pt; 
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
}
li 
{ 
  font-size: 10pt; 
  font-weight: normal; 
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular 
}
dt 
{ 
  font-size: 10pt; 
  font-weight: bold; 
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular 
}
dd 
{ 
  font-size: 10pt; 
  font-weight: normal; 
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular 
}
p 
{ 
  font-size: 10pt; 
  font-weight: normal; 
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular 
}
td 
{ 
  font-size: 10pt; 
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular 
}
small 
{ 
  font-size: 8pt; 
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular 
}
blockquote
{ 
  font-style: italic; 
  font-size: 10pt; 
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular 
}
em 
{ 
  font-size: 10pt; 
  font-style: italic; 
  font-weight: bold; 
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular 
}
pre 
{ 
  font-size: 9pt; 
  font-family: Courier New, Helvetica, Geneva, Swiss, SunSans-Regular; 
  background-color:lightGray;
}
address 
{ 
  font-size: 8pt; 
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular 
}
.red
{
  color:red;
}
a:link { color : #0000A0} 
a:active { color: #8080FF} 
a:visited { color : #8080FF}