html {
  height: 100%;
}

body {
  color : cyan;
  font-weight: normal;
  font-size: 10pt;
  font-family: "Lato", Verdana, Helvetica, Geneva, sans-serif;
  background-position: top left;
  background-repeat: repeat;
	/*background-image: url("bground.jpg");*/
/*background-image: linear-gradient(white, lightgray);*/
}

h1 {
  color: silver;
  font-style: italic;
  font-size: 26pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
  padding-left: 5pt;
  padding-bottom: 1pt;
  padding-top: 1pt;
}
h2 {
  color: silver;
  font-size: 12pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
  padding-left: 5pt;
  margin-bottom: 1pt;
  margin-top: 1pt;
}
h3 {
  color: silver;
  font-style: italic;
  font-weight: bold;
  font-size: 11pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
  padding-left: 5pt;
  margin-bottom: 1pt;
  margin-top: 1pt;
}
h4 {
  color: silver;
  font-style: italic;
  font-weight: bold;
  font-size: 10pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
  padding-left: 5pt;
  margin-bottom: 1pt;
  margin-top: 1pt;
}
h5 {
  color: silver;
  font-style: normal;
  font-weight: bold;
  font-size: 10pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
  padding-left: 5pt;
  margin-bottom: 1pt;
  margin-top: 1pt;
}
h6 {
  font-style: italic;
  font-weight: normal;
  font-size: 10pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
  padding-left: 5pt;
  margin-bottom: 1pt;
  margin-top: 1pt;
}
li {
  font-weight: normal;
  font-size: 10pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
}
dt {
  font-size: 10pt;
  font-weight: bold;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
}
dd {
  font-size: 10pt;
  font-weight: normal;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
}
p {
  font-size: 10pt;
  font-weight: normal;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
}
td {
  font-size: 10pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
}
small {
  font-size: 8pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
}
blockquote {
  font-style: italic;
  font-size: 10pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
}
em {
  font-size: 10pt;
  font-style: italic;
  font-weight: bold;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
}
pre {
  margin-top: 0px;
  font-size: 9pt;
  font-family: "Source Code Pro", "Courier New", Helvetica, Geneva;
/*background-color: #d3d3d3;*/
}
address {
  font-size: 8pt;
/*font-family: Verdana, Arial, Helvetica, Geneva;*/
}
img {
  vertical-align: middle;
}
.red {
  color:red;
}

a:link { color : cyan}
a:active { color: lime}
a:visited { color : greenyellow}

.yellow-oh {
  color: 'yellow';
}

.bg-img {
  position: relative;
  width: 100%;
  height: 100%;
  /* #027bc7 -8%, #014372 55% */
  /*background: radial-gradient(at top, rgba(255, 255, 0, 0.5) 20%, rgba(1, 67, 114, 0.75) 55%), url("../images/sunset.sea.png") no-repeat center;*/
  /*background: radial-gradient(at top, rgba(255, 255, 255, 0.5) 20%, rgba(0, 0, 0, 0.6) 55%);*/
  background: black;
  background-size: cover;
}
